<!doctype html>
<html lang="en">
  <head>
    <style>
        .scroll {
            border: 5px solid #333333;
            width: auto;
            font-size: 150%;
            overflow-y: scroll;}
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>ChatBot!</title>
  </head>
  <body>
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <h5 class="text-white h4">Chatbot!</h5>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="{{url_for('home')}}">Menu <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{url_for('why')}}">Why EcoBuddy</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More Info
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Event</a>
                        <a class="dropdown-item" href="#">Project</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Contacts</a>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>
          </div>
        </div>


        <nav class="navbar navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
    </div>
    </div>
    <div  class="scroll" tabindex="0" style="height: 500px; background-color: rgba(0, 255, 255, 0.406);">
        <p class = "output" id="output1">(EcoBuddy)>Hello! Are you ready to learn? Ask away!!!<br></p>
    </div>
    <div class="input-group input-group-lg">
        <input type="text" id="txt" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" id="btn1">Enter</button>
        </div>
      </div>
    <script>
        const txt1 = document.getElementById("txt");
        const btn1 = document.getElementById("btn1");
        const out1 = document.getElementById("output1");

        function fun1(){
            out1.innerHTML = out1.innerHTML+"<br>" + "(user)>" + txt1.value;
            $.ajax({ 
                url: '/process', 
                type: 'POST', 
                data: { 'data': txt1.value }, 
                success: function(response) { 
                  out1.innerHTML = out1.innerHTML+ "<br>" + "(EcoBuddy)>" + response; 
                }, 
                error: function(error) { 
                    console.log(error); 
                } 
            });
            txt1.value = "";
        }
        btn1.addEventListener('click',fun1);
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
  </body>
</html>